<div class="space-y-6">

    <div>
        <app-component-card title="Advance Search">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <div>
                    <app-label for="input">Event Name</app-label>
                    <app-input-field type="text" id="input" placeholder="Enter event name" [value]="eventForm.event_name" (valueChange)="eventForm.event_name = $event"/>
                </div>
                <div>
                    <app-label for="input">Event Code</app-label>
                    <app-input-field type="text" id="input" placeholder="Enter event code" [value]="eventForm.event_code" (valueChange)="eventForm.event_code = $event"/>
                </div>
            </div>
            <app-button type="submit" size="sm" variant="primary" (btnClick)="onSubmit()" [disabled]="disabled">Search</app-button>
        </app-component-card>
    </div>
    
    @if (isLoading) {
        <div class="flex justify-center items-center py-12">
            <app-loading-spinner 
                size="lg" 
                [showText]="true" 
                text="Loading discographies..."
                containerClass="flex-col"
            ></app-loading-spinner>
        </div>
    } @else {
        <app-custom-table
        title="Listing Event"
        [columns]="columns"
        [data]="events"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [itemsPerPage]="itemsPerPage"
        [enableSearch]="false"
        (pageChange)="loadPage($event)"
        (searchChange)="onSearch($event)"
        (action)="action($event)"
        ></app-custom-table>
    }
</div>
