<div class="space-y-6">
    @if (success) {
            <div>
                <app-alert
                    variant="success"
                    title="Success"
                    message="Team member deleted successfully"
                    [showLink]="false"
                />
            </div>
        }
    @if(error) {
        <div>
            <app-alert
                variant="error"
                title="Error"
                message="Failed to delete team member"
                [showLink]="false"
            />
        </div>
    }
    @if (isLoading) {
        <div class="flex justify-center items-center py-12">
            <app-loading-spinner 
                size="lg" 
                [showText]="true" 
                text="Loading team members..."
                containerClass="flex-col"
            ></app-loading-spinner>
        </div>
    } @else {
        <app-custom-table
        title="Listing Team Member"
        [columns]="columns"
        [data]="teamMembers"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="loadPage($event)"
        (searchChange)="onSearch($event)"
        (action)="action($event)"
        ></app-custom-table>
    }
</div>
