<div class="space-y-6">
    @if (success) {
            <div>
                <app-alert
                    variant="success"
                    title="Success"
                    message="News deleted successfully"
                    [showLink]="false"
                />
            </div>
        }
    @if(error) {
        <div>
            <app-alert
                variant="error"
                title="Error"
                message="Failed to delete news"
                [showLink]="false"
            />
        </div>
    }
    <div>
        <app-component-card title="Advance Search">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <div>
                    <app-label>Active</app-label>
                    <app-select
                        [options]="activeOptions"
                        placeholder="Select Option"
                        (valueChange)="handleActiveSelectChange($event)"
                        className="dark:bg-dark-900"
                    ></app-select>
                </div>
                <div>
                    <app-label for="input">Filter</app-label>
                    <app-input-field type="text" id="input" placeholder="Enter a filter" [value]="newsForm.filter" (valueChange)="newsForm.filter = $event"/>
                </div>
                <div>
                    <app-label for="input">Search</app-label>
                    <app-input-field type="text" id="input" placeholder="Enter a word" [value]="newsForm.search" (valueChange)="newsForm.search = $event"/>
                </div>
            </div>
            <app-button type="submit" size="sm" variant="primary" (btnClick)="onSubmit()" [disabled]="disabled">Search</app-button>
        </app-component-card>
    </div>
    
    <app-custom-table
    title="Listing News"
    [columns]="columns"
    [data]="news"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [itemsPerPage]="itemsPerPage"
    [enableSearch]="false"
    (pageChange)="loadPage($event)"
    (searchChange)="onSearch($event)"
    (action)="action($event)"
    ></app-custom-table>
</div>
