<div class="space-y-6">
    @if (success) {
        <div>
            <app-alert
                variant="success"
                title="Success"
                message="User deleted successfully"
                [showLink]="false"
            />
        </div>
    }
    @if(error) {
        <div>
            <app-alert
                variant="error"
                title="Error"
                message="Failed to delete user"
                [showLink]="false"
            />
        </div>
    }
    <app-custom-table
        title="Listing User"
        [columns]="columns"
        [data]="users"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="loadPage($event)"
        (searchChange)="onSearch($event)"
        (action)="action($event)"
    ></app-custom-table>
</div>
