<div class="rounded-2xl border border-gray-200 bg-white pt-4 dark:border-white/[0.05] dark:bg-white/[0.03]">
    <div class="flex flex-col gap-2 px-5 mb-4 sm:flex-row sm:items-center sm:justify-between sm:px-6">
        <div>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
                Sorting Artist
            </h3>
        </div>
        <app-button type="submit" size="sm" variant="primary" (btnClick)="onSubmit()" [disabled]="disabled">Save</app-button>
    </div>
    <div class="p-5 pb-10">
        @if (success) {
            <div>
                <app-alert
                    variant="success"
                    title="Success"
                    message="Artists sorting updated successfully"
                    [showLink]="false"
                />
            </div>
        }
        @if(error) {
            <div>
                <app-alert
                    variant="error"
                    title="Error"
                    message="Failed to update artists sorting"
                    [showLink]="false"
                />
            </div>
        }
    </div>
    <div class="overflow-hidden">
        <div class="max-w-full px-5 overflow-x-auto sm:px-6 mb-5">
            <table class="min-w-full">
                <thead class="border-gray-100 border-y dark:border-white/[0.05]">
                <tr>
                    <th class="py-3 font-normal text-gray-500 text-start text-theme-sm dark:text-gray-400"></th>
                    <th class="py-3 font-normal text-gray-500 text-start text-theme-sm dark:text-gray-400">First Name</th>
                    <th class="py-3 font-normal text-gray-500 text-start text-theme-sm dark:text-gray-400">Last Name</th>
                    <th class="py-3 font-normal text-gray-500 text-start text-theme-sm dark:text-gray-400">Biography</th>
                    <th class="py-3 font-normal text-gray-500 text-start text-theme-sm dark:text-gray-400">Sort Number</th>
                </tr>
                </thead>
                <tbody
                    cdkDropList 
                    (cdkDropListDropped)="drop($event)"
                    class="divide-y divide-gray-100 dark:divide-white/[0.05]"
                >
                    @for (artist of artists; track artist.id) {
                        <tr cdkDrag [cdkDragDisabled]="disabled">
                            <td class="px-2 cursor-move" cdkDragHandle>
                                <svg width="20" height="20" fill="gray" viewBox="0 0 24 24">
                                    <circle cx="12" cy="5" r="1.5"></circle>
                                    <circle cx="12" cy="12" r="1.5"></circle>
                                    <circle cx="12" cy="19" r="1.5"></circle>
                                </svg>
                            </td>
                            <td class="px-4 py-4 text-gray-700 text-theme-sm dark:text-gray-400">
                                {{ artist.first_name }}
                            </td>
                            <td class="px-4 py-4 text-gray-700 text-theme-sm dark:text-gray-400">
                                {{ artist.last_name }}
                            </td>
                            <td class="px-4 py-4 text-gray-700 text-theme-sm dark:text-gray-400">
                                {{ artist.biography }}
                            </td>
                            <td class="px-4 py-4 text-gray-700 text-theme-sm dark:text-gray-400">
                                {{ artist.sort_number }}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
