.cdk-drag-preview {
  display: table;
  border-spacing: 0; /* removes extra gaps between cells */
  background: white; /* match table bg */
  border: 1px solid #ddd; /* optional, mimic table borders */
}

.cdk-drag-preview td {
  display: table-cell;
  padding: 0.5rem 1rem; /* match your table cell padding */
  vertical-align: middle;
  color: inherit;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

