<app-component-card title="Add Team Member">
    <div class="space-y-6">
        @if (success) {
            <div>
                <app-alert
                    variant="success"
                    title="Success"
                    message="Team member created successfully"
                    [showLink]="false"
                />
            </div>
        }
        @if(error) {
            <div>
                <app-alert
                    variant="error"
                    title="Error"
                    message="Failed to create team member"
                    [showLink]="false"
                />
            </div>
        }
        <div>
            <app-label for="input">First Name</app-label>
            <app-input-field type="text" id="input" placeholder="Enter first name" [value]="teamMemberForm.first_name" (valueChange)="teamMemberForm.first_name = $event" [error]="errors.first_name" [hint]="errors.first_name ? 'This is an invalid first name.' : ''"/>
        </div>
        <div>
            <app-label for="input">Last Name</app-label>
            <app-input-field type="text" id="input" placeholder="Enter last name" [value]="teamMemberForm.last_name" (valueChange)="teamMemberForm.last_name = $event" [error]="errors.last_name" [hint]="errors.last_name ? 'This is an invalid last name.' : ''"/>
        </div>
        <div>
            <app-label>Profile Image</app-label>
            <app-image-upload
                #fileUpload
                (change)="handleFileChange($event)"
                [error]="errors.profile_image"
                [hint]="errors.profile_image ? 'This is an invalid file.' : ''"
            ></app-image-upload>
        </div>
        <div>
            <app-label for="input">Position</app-label>
            <div class="border border-gray-200 rounded-xl p-4 mb-3 bg-gray-50 dark:border-gray-700 dark:bg-gray-900">
                <div>
                    <app-label for="input">English</app-label>
                    <app-input-field type="text" id="input" placeholder="Enter a position" [value]="teamMemberForm.position.en" (valueChange)="teamMemberForm.position.en = $event" [error]="errors.position.en" [hint]="errors.position.en ? 'This is an invalid position' : ''"/>
                </div>
                <div class="mt-3">
                    <app-label for="input">Japanese</app-label>
                    <app-input-field type="text" id="input" placeholder="Enter a position" [value]="teamMemberForm.position.ja" (valueChange)="teamMemberForm.position.ja = $event"/>
                </div>
                <div class="mt-3">
                    <app-label for="input">Chinese</app-label>
                    <app-input-field type="text" id="input" placeholder="Enter a position" [value]="teamMemberForm.position.zh" (valueChange)="teamMemberForm.position.zh = $event"/>
                </div>
            </div>
        </div>
        <div>
            <app-button type="submit" size="sm" variant="primary" (btnClick)="onSubmit()" [disabled]="disabled">Create</app-button>
        </div>
    </div>
</app-component-card>
